<div class="inner">
      <h2 class="page-heading">
        <%= " #{current_user.name}さんがいいねした試験" %>
        </h2 >
   <div class="exams"> 
     <% if @likes.exists? %>
       <% @likes.each do|like| %>
          <div class="exam">
              <%= "募集職種:#{like.exam.category.name}" %>
              <%= "日程:#{like.exam.date}"%>
              <%= "年齢制限:#{like.exam.age}" %>
          </div>
        <% end %>
      <% else %> 
      <div class="exam">
        まだいいねした試験はありません。 
      </div>
       <% end %> 
     </div>
</div>
