/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
  position: relative;
  min-height: 100vh;
  padding-bottom: 60px;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* ヘッダー */
.header {
  background-color: #b3424a;
  margin-bottom: 20px;
  padding: 35px 0;
  
}

.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color: #fff;
  font-weight: bold;
} 


.logo:hover{
  color: #fff;
}

.header p{
  color:  rgba(255, 255, 255, 0.651);
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fdc7a3fd;
  text-decoration: none;
  user-select: none;
  border: 1px #fdc7a3fd solid;
  border-radius: 3px;
  transition: 0.4s ease;
}

.nav__btn:hover{
  color: #fff;
  background: #fdc7a3fd;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fdc7a3fd;
  text-decoration: none;
  user-select: none;
}

.nav__logout:hover{
  opacity: 0.5;
  color: #b19b8cfd;
}


/* トップページ */
.greeting{
  margin-bottom: 20px;
}

.term,
.area{
  margin: 20px auto;
}

.search{
  font-size: 22px;
}

.greeting a,
.area a {
  color: #3b4043;
}

.greeting a:hover,
.area a:hover{
  color: #3b4043;
}

/* 登録フォーム */
.form__wrapper{
  min-height: calc(100vh - 161px);
}

.field{
  margin: 10px 0;
}

.input-birth-wrap {
  display: flex;
  flex-wrap: wrap;
}

.actions{
  margin-bottom: 40px;
}

.form__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background: #87CEFA;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 2px 0 rgba(0, 0, 0, 0.12);
  transition: 0.2s ease;
}

.form__btn:hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* 自治体一覧ページ */
.governments {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}

.government  {
  width: calc((100% - 50px) / 3);
  margin-bottom: 40px;
}

.government a:hover{
  text-decoration: none;
}

.government__name {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: bold;
  color: #3b4043;
} 

.government__name:hover,
.government__img:hover{
  opacity: 0.5; 
}

/* 試験一覧ページ、いいね一覧ページ、検索結果ページ*/
.page-heading {
  font-size: 30px;
  margin-bottom: 20px;
}

.exams{
  padding-top: 16px;
}

.exam{
  display: flex;
  padding: 10px;
  font-size: 20px;
  border: 1px solid rgb(70, 32, 32);
  border-radius: 5px;
  margin-bottom: 40px;
}

.exam a:hover{
  text-decoration: none;
  opacity: 0.5;
}

.exam__inner,
.exam__like,
.exam__manage{
  display: flex;
  align-items: center;
}

.exam__info{
  display: flex;
  align-items: center;
  margin-right: 20px;
  color: #3b4043;
 }

.exam__list{
  margin-right: 20px;
}


.region:hover{
  text-decoration: underline;
}

.region__inner {
  padding-left:20px;
}

/* 試験詳細 */
.info{
  text-align: center;
  border:1px solid #ccc; 
  border-radius: 5px;
}

/* フッター */
.footer {
  width: 100%;
  background-color: #999;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
}

.copyright {
  text-align: center;
  color: #fff;
  font-size: 10px;
 
}

/* タブレット対応 */
@media (max-width: 1024px) {
  .page-heading {
    font-size: 24px;
  }

  .governments {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

  .government {
    width: calc((100% - 50px)/2);
    margin-bottom: 40px;
  }
 
  .exam__info {
    display: block;
   }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .page-heading {
    font-size: 20px;
  }

  .governments {
    display: flex;
    justify-content: center;
    margin: 0 auto;
  }

  .government {
    width: calc(100% - 50px);
    margin-bottom: 40px;
  }
  .exam {
    justify-content: space-around;
  }
  
  .exam__inner{
    display: block;
  }

  .exam__info {
    display: block
  }

  .exam__manage{
    display: block;
  }

}