<div class = "main">
<div class = "inner">
<h2 class="page-heading">検索結果</h2>
<div class="exam__contents"> 
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <div class="exam__content">
    <li class="exam__list">
      <%= result.government.name %>
    </li >
    <li class="exam__list">
      <%= result.category.name %>
    </li >
    <li class="exam__list">
      <%= result.age %>
    </li >
    </div> 
    <%# リンクして試験詳細に飛べるようにする %>

  <% end %>
<% else %>
<div class="content">
  該当する試験はありません
</div>
<% end %>
</div>
</div>
</div>