<div class="inner">
<h2 class="page-heading">検索結果</h2>
<div class="contents"> 
<%# 検索結果の個数で条件分岐 %>
<% if @results.length !=0 %>
  <% @results.each do |result| %>
    <div class="content">
    <div class="exam_list">
      <%= result.government.name %>
    </div >
    <div class="exam_list">
      <%= result.category.name %>
    </div >
    <div class="exam_list">
      <%= result.age %>
    </div >
    </div> 
    <%# リンクして試験詳細に飛べるようにする %>

  <% end %>
<% else %>
<div class="content">
  該当する試験はありません
</div>
<% end %>
</div>
</div>